/*
Author: Antoinette Smith
Last Revised on: 12/23/12
*/

html {
    /* this is html */
    background-color: aquamarine;
}

label {
    display: block;
    margin-top: 10px;
}

textarea {
    resize: none;
}

#send {
   margin-top: 5px; 
}